/*Universal styles*/

/* {
  border: 1px solid yellow;
}*/

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

body {
  width: 100%;
  background: linear-gradient(
    135deg,
    #ffcdb2ff,
    #ffb4a2ff,
    #e5989bff,
    #b5838dff
  );
}

/*Header*/

header {
  margin: 0 auto;
  padding: 0;
  background: url('./images/banner3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 14rem;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 180px auto;
  position: sticky;
  top: -184px;
}

h1 {
  color: #444;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 1rem 0 1rem;
  grid-column: 1;
  grid-row: 1;
}

#quote-header {
  margin: auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  grid-column: 2;
  grid-row: 1;
}

#quote-header p {
  margin: 10px;
  padding: 0 5px;
  color: #444;
  text-shadow: 2px 2px 10px #444;
  border-radius: 5px;
  font-size: 1.5rem;
  min-width: 24rem;
  text-align: center;
}

/*Nav*/

/*
#nav-header {
  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: end;
}

#nav-header ul {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background: hsla(263, 6%, 43%, 0.7);
}

#nav-header li {
  list-style: none;
  margin: 0 1rem;
  white-space: nowrap;
}

#nav-header .navigation-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

#nav-header .navigation-link a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#nav-header .navigation-link a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.contact-header {
  color: #444;
  text-shadow: 2px 2px 10px #444;
  font-size: 1.5rem;
}

.contact-header a {
  color: white;
  text-decoration: none;
}

.contact-header a:hover {
  color: #ffe3e0;
}
*/

/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  width: 100%;
  background: hsla(263, 6%, 43%, 1);
  grid-column: 1 / span 2;
  grid-row: 2;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
  display: flex;
}
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: relative;
}

#hamitems a:hover {
  color: hsla(7, 89%, 86%, 1);
}

#hamitems a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: hsla(7, 89%, 86%, 1);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#hamitems a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}

/*Main*/

main {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
}

section {
  border-radius: 1.5rem;
  color: white;
  background: hsla(263, 6%, 43%, 0.7);
  box-shadow: hsla(0, 0%, 0%, 0.8) 10px 10px 80px;
  margin: 1.5rem 2vw;
  padding: 1.5rem;
  flex-grow: 1;
  flex-basis: 550px;
  min-width: 240px;
  max-width: 1000px;
  min-height: 900px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 10px #444;
}

section p {
  margin: 10px auto;
  font-size: 1.25rem;
}

section img {
  border-radius: 1.5rem;
  width: 100%;
}

.figure-section figcaption {
  margin: 0 auto;
  width: 90%;
}

#about {
  justify-content: space-between;
}

#services {
  justify-content: space-between;
}

#services ul {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#services a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

#services a:hover {
  color: hsla(7, 89%, 86%, 1);
}

#prices {
  justify-content: space-between;
}

#prices ul {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#prices ul li {
  list-style: none;
  font-size: 1.25rem;
}

#contactus {
  justify-content: space-between;
}

#contactus img {
  margin: 5px;
}

#contactus ul {
  height: 100%;
  flex-grow: 1;
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#contactus ul li {
  list-style: none;
  font-size: 1.25rem;
}

#contactus h3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 10px #444;
}

#contactus p {
  text-indent: 2rem;
}

.contactlink {
  margin: 5px;
  padding: 5px;
  background: hsla(263, 6%, 43%, 1);
  border-radius: 5px;
  text-shadow: 2px 2px 10px #444;
}

#contactus a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

#contactus a:hover {
  color: hsla(7, 89%, 86%, 1);
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    background: hsla(263, 6%, 43%, 1);
    font-style: normal;
    font-size: 1em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  #quote-header {
    display: none;
  }
}
